body {
    padding: 0;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
}

body {
    color: #010400;
}

h4 {
    color: #010400;
}

a {
    color: #07A0C3;
}

.btn-info {
    background: #07A0C3;
}

.btn-info:hover {
    background: #13505B;
}

.modal .modal-header .modal-title {
    display: inline-block;
    border-bottom: 4px solid #010400;
    padding-left: 10px;
    padding-right: 40px;
}

.bottom-space-20 {
    margin-bottom: 20px;
}

.bottom-space-40 {
    margin-bottom: 40px;
}

.bottom-space-60 {
    margin-bottom: 60px;
}

.btn-default:hover {
    background-image: none;
}

.btn-primary:hover {
    background-image: none;
}

.form-control {
    color: #fff;
}

.form-control::-webkit-input-placeholder {
    color: #fff;
}

.form-control::-moz-placeholder {
    color: #fff;
}

.form-control:-moz-placeholder {
    color: #fff;
}

.form-control:-ms-input-placeholder {
    color: #fff;
}

.technology-item {
    width: 250px;
    display: inline-block;
}

.technology-item .technology-link {
    height: 40px;
}

.technology-item .technology-description {
    height: 40px;
}

/* --Main Wrapper--- */
#wrapper {
    min-height: 100%;
    position: relative;
}

#wrapper #header {
    height: 64px;
}

#wrapper #body {
    padding-bottom: 200px;
}

#wrapper #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
}
/* ---End Main Wrapper--- */

/* ---Introduction Component--- */
#introduction {
    height: 864px;
    color: #fff;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}

#introduction .background-image {
    background: url('/images/introduction-bg.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
#introduction .profile .panel {
    background-color: transparent;
    margin-bottom: 20px;
}

#introduction .profile .panel .panel-body {
    background: rgba(107, 135, 168, 0.6);
    color: #fff;
    height: 94px;
}

#introduction .profile .panel .panel-body .btn-primary {
    background: transparent;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#introduction .profile .panel .panel-body .btn-primary:hover {
    background: rgba(30, 57, 89, 0.5);
}


#introduction .profile .panel-heading {
    background: rgba(30, 57, 89, 0.8);
    color: #fff;
    height: 94px;
}

#introduction .profile .panel-heading .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    /* font-size: 1px; */
    color: inherit;
    height: 60px;
    margin-top: 17px;
    margin-bottom: 17px;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
}

#introduction .profile .img {
    border-radius: 100px;
    height: 200px;
    width: 200px;
    margin: 20px auto;
}

#introduction .social .btn {
    height: 64px;
}

#introduction .profile .main .info {
    height: 64px;
    padding: 15px 0;
}

#introduction .profile .technologies .panel-body {
    height: 128px;
    overflow: hidden;
}

.technology-link {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    height: 50px;
    display: inline-block;
    text-decoration: underline;
}



#introduction .profile .technologies .technology-link {
    color: #eee;
}

#introduction .quotes {
    margin-bottom: 20px;
}

#introduction .introduction-text-container {
    background: rgba(30, 57, 89, 0.8);
    overflow: hidden;
    height: 784px;
    padding: 20px;
    font-size: 13px;
}

#introduction .introduction-text-container .text {
    height: 490px;
}

/* ---End Introduction Component--- */

/* ---Contact Form Component--- */
#contact-form {
    height: 959px;
    position: relative;
    padding-top: 72px;
    padding-bottom: 72px;
}

#contact-form .form-container {
    background: rgba(107, 135, 168, 0.6);
    padding: 20px 0;
    height: 815px;
    position: relative;
}

#contact-form .form-container .g-recaptcha {
    display: inline-block;
}

#contact-form .form-container .loader-container .spinner {
    margin: 0;
    left: 215px;
    top: 340px;
    position: absolute;
}

#contact-form .form-container .well {
    padding: 0;
    color: #710202;
    margin-top: 5px;
    margin-bottom: 0;
    background: transparent;
}

#contact-form label {
    color: #fff;
}

#contact-form .form-group {
    margin-bottom: 40px;
}

#contact-form .background-image {
    background: url('/images/contact-bg.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
/* ---End Contact Form Component--- */

/* ---HeroUni styles--- */

#hero-unit {
    background-size: cover;
    background-position: center;
    height: 420px;
    width: 100%;
}

.hero-unit-default {
    background: url('/images/main-image.jpg');
}

.hero-unit-second {
    background: url('/images/hero-unit-second.jpg');
}

#hero-unit #subscription-form {
    margin-top: 110px;
    height: 200px;
}

#hero-unit #subscription-form h2 {
    color: #fff;
}


#hero-unit #subscription-form input.form-control:focus {
    -webkit-box-shadow: inset 0 -2px 0 #fff;
    box-shadow: inset 0 -2px 0 #fff;
}

[type=email].form-control:focus {
    -webkit-box-shadow: inset 0 -2px 0 #fff;
    box-shadow: inset 0 -2px 0 #fff;
}

#hero-unit #subscription-form input[type=email].form-control:focus {
    -webkit-box-shadow: inset 0 -2px 0 #fff;
    box-shadow: inset 0 -2px 0 #fff;
}

#ad-list {
    margin-bottom: 60px;
}

/* ---Comment List--- */
#comment-list {
    margin-bottom: 20px;
}

#comment-list blockquote p {
    font-size: 13px;
}

/* ---End Comment List--- */

/* ---Comment Form--- */
#comment-form {
    margin-bottom: 20px;
}

#comment-form textarea {
    color: #666;
}

#comment-form textarea.form-control::-webkit-input-placeholder {
    color: #bbbbbb;
}

#comment-form textarea.form-control::-moz-placeholder {
    color: #bbbbbb;
}

#comment-form textarea.form-control:-moz-placeholder {
    color: #bbbbbb;
}

#comment-form textarea.form-control:-ms-input-placeholder {
    color: #bbbbbb;
}

#comment-form a.btn {
    height: 64px;
}
/* ---End Comment Form--- */

/* ---Social Sign--- */
#social-sign a {
    height: 64px;
    margin-bottom: 10px;
}
/* ---End Social Sign--- */

/* ---Footer styles--- */

#footer {
    height: 200px;
    padding-top: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    background-image: -webkit-linear-gradient(top, #fff 0, #f8f8f8 100%);
    background-image: -o-linear-gradient(top, #fff 0, #f8f8f8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8));
    background-image: linear-gradient(to bottom, #fff 0, #f8f8f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

#footer a {
    color: #666;
    text-decoration: none;
}

@keyframes social-link {
    from {opacity: 1;}
    to {opacity: .4;}
}

#footer a:hover {
    color: #bebebe;
    opacity: .4;
    animation-name: social-link;
    animation-duration: 5s;
    animation-delay: 2s;
}

#footer .social-container {
    margin-bottom: 20px;
}

/* --- Quote Component--- */
#random-quote {
    position: relative;
    height: 300px;
    margin-bottom: 60px;
}
#random-quote .spinner {
    margin-top: 70px;
}
#random-quote blockquote {
    height: 100px;
    margin-top: 50px;
}
#random-quote blockquote p {
    color: #666;
    font-size: 16px;
}
#random-quote blockquote span {
    font-size: 12px;
}

/* --- End Quote Component--- */


/* ---Spiner common--- */
.spinner {
    width: 40px;
    height: 40px;

    position: relative;
    margin: auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}
/* ---End Spinner Common--- */

/* ---Fadeout and Fadein--- */
.fadein {
    -webkit-animation: fadeIn .2s linear forwards;
    animation: fadeIn .2s linear forwards;
}

@-webkit-keyframes fadeIn {
    0%   {opacity: 0;}
    70%  {opacity: 0;}
    90% {opacity: .75;}
    100% {opacity: 1;}
}

.fadeout {
    -webkit-animation: fadeOut .2s linear forwards;
    animation: fadeOut .2s linear forwards;
}

@-webkit-keyframes fadeOut {
    0%   {opacity: 1;}
    70%  {opacity: 1;}
    90% {opacity: .75;}
    100% {opacity: 0;}
}
/* ---End Fadeout--- */


/* ---Navigation Anchors--- */
.anchor {
    position: static;
    top: -60px;
    height: 60px;
    width: 100%;
}
/* ---End Navigation Anchors--- */

/* ---Project Item Component--- */
.project-item {
    height: 720px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.project-item .image {
    height: 150px;
    margin: auto;
}

.project-item .info {
    height: 420px;
    padding: 30px 20px;
}

.project-item .info .technology-list {
    width: 100%;
}

.project-item .info .description-container {
    height: 200px;
}

.project-item .info .description-container .description {
    height: 136px;
    position: relative;
    overflow: hidden;
}

.project-item .info .description-container .description:before {
    height: 36px;
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(to bottom,rgba(255,255,255,0),rgba(255,255,255,1) 50%);
}

.project-item .info .description-container .description-more {
    height: 64px;
}

.project-item .info .description-container .description-more .show-more {
    height: 64px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
}

.project-item .info .technology-list {
    height: 64px;
    padding-top: 11px;
    padding-bottom: 11px;
    overflow: hidden;
}

.project-item .info .date-title {
    font-size: 11px;
    color: #3e3e3e;
}

.project-item .info .date-value {
    font-size: 13px;
}

.project-item .info .date-value span {
    position: relative;
    top: -25px;
}

.project-item .info .technology-list .technology-item {
    width: auto;
}

.project-item .info .technology-list .technology-item .technology-description {
    display: none;
}

.project-item .info p.technology-more {
    height: 30px;
    margin: 0;
}

.project-item .info .background {
    position: absolute;
    background: #000;
    opacity: .5;
    top: 300px;
    height: 300px;
    bottom: 600px;
    /* bottom: 0; */
    width: 100%;
    /* left: 0; */
    /* right: 0; */
}
/* ---End Project Item Component--- */

/* ---Loader Component--- */
.loader-container .background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .5;
    z-index: 2;
}

.loader-container .spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    z-index: 3;

    -webkit-animation: rotate 2.0s infinite linear;
    animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #fff;
    border-radius: 100%;

    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0px;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}
/* ---End Loader Component--- */